<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>8673329015-t0q6aemlvr699jav57c5mmv4c125f97u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.8673329015-t0q6aemlvr699jav57c5mmv4c125f97u</string>
	<key>API_KEY</key>
	<string>AIzaSyCBj8HkKEA8wFc2bBZsH5SCi1KNQW0n5Io</string>
	<key>GCM_SENDER_ID</key>
	<string>8673329015</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.groceryHelper</string>
	<key>PROJECT_ID</key>
	<string>grocery-helper-e7d24</string>
	<key>STORAGE_BUCKET</key>
	<string>grocery-helper-e7d24.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:8673329015:ios:6b4ec6beff18648c436b72</string>
	<key>DATABASE_URL</key>
	<string>https://grocery-helper-e7d24-default-rtdb.firebaseio.com</string>
</dict>
</plist>
